<header>
  HEADER
</header>
<section id="about">
  <div class="frame container">
    <div class="claim" #headline>
      <h2>TITLE</h2>
    </div>
    <div class="wrapper">
      <div class="content">
        <p><span>{{ 1 | number:'2.0-0' }}</span>TITLE</p>
        <video loop autoplay playsinline muted onloadedmetadata="this.muted = true">
          <source [src]="'https://www.w3schools.com/html/mov_bbb.mp4'" type="video/mp4">
        </video>
      </div>
      <div class="content">
        <p><span>{{ 1 | number:'2.0-0' }}</span>TITLE</p>
        <video loop autoplay playsinline muted onloadedmetadata="this.muted = true">
          <source [src]="'https://www.w3schools.com/html/mov_bbb.mp4'" type="video/mp4">
        </video>
      </div>
      <div class="content">
        <p><span>{{ 1 | number:'2.0-0' }}</span>TITLE</p>
        <video loop autoplay playsinline muted onloadedmetadata="this.muted = true">
          <source [src]="'https://www.w3schools.com/html/mov_bbb.mp4'" type="video/mp4">
        </video>
      </div>
      <div class="content">
        <p><span>{{ 1 | number:'2.0-0' }}</span>TITLE</p>
        <video loop autoplay playsinline muted onloadedmetadata="this.muted = true">
          <source [src]="'https://www.w3schools.com/html/mov_bbb.mp4'" type="video/mp4">
        </video>
      </div>
      <video #showreel id="showreel" preload muted loop playsinline onloadedmetadata="this.muted = true">
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>
<section id="section-2">SECTION 2</section>
<section id="section-3">SECTION 3</section>
<section id="section-4">SECTION 4</section>
<section id="section-5">SECTION 5</section>
<section id="section-6">SECTION 6</section>
<footer></footer>
